.list-item {
  align-items: center;
  background: #ffffff;
  border-radius: 5px;
  border: 1px solid rgba(215, 215, 215, 0.75);
  box-shadow: 2px 2px 3px 0 rgba(215, 215, 215, 0.75);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 1.25rem;
  width: 100%;

  &-title,
  &-duration {
    line-height: 24px;
  }

  &-title {
    font-size: 18px;
  }

  &-phone {
    font-size: 16px;
    margin-bottom: 0.5rem;
  }

  &-map {
    aspect-ratio: 1/1;
    background: #f1f1f1;
    margin-bottom: 0.5rem;
    width: 100%;
  }

  &-duration {
    color: #747474;
    font-size: 16px;
    margin-top: 0.5rem;
  }

  + .list-item {
    margin-top: 1rem;
  }

  &.column {
    align-items: flex-start;
    flex-flow: column nowrap;
    justify-content: space-between;
    margin: 0 0 1rem 0;
    width: calc(100% / 3 - 1rem);

    .list-item {
      &-title {
        font-weight: 600;
        margin-bottom: 0.5rem;
      }
    }

    + .list-item {
      margin-top: 0;
    }

    button {
      width: 100%;
    }
  }
}
