{{page-title "EmberIntro"}}

<div class="app-wrapper">
  <Header @title="Request an Appointment" @subtitle="The Therapy Center" />

  <div class="app-content-wrapper">
    {{ outlet }}
  </div>
</div>
